<div class="container" id="profile">
    <nav class="mb-5">
        <ul class="nav justify-content-center nav-tabs">
            <li class="nav-item"><a class="nav-link" id="home-menu" href="#" onclick="return activateTab(this);">Home</a></li>
            <li class="nav-item"><a class="nav-link" id="browse-menu" href="#" onclick="return activateTab(this);">Browse</a></li>
            <li class="nav-item"><a class="active nav-link" id="account-menu" href="#" onclick="return activateTab(this);">Account</a></li>
            <li class="nav-item"><a class="nav-link" id="data-menu" href="#" onclick="return activateTab(this);">Data</a></li>
        </ul>
    </nav>
    <div class="row">
        <h2>Account</h2>
    </div>
    <section class="row mr-2">
        <div class="col-md" id="account-form">
            <h4>Change password</h4>
            <form class="form-group" action="#" novalidate onsubmit="return changePassword(event);">
                <div class="form-group">
                    <label for="old-password">Current Password</label><input placeholder="Enter current password" class="form-control" type="password" name="old-password" id="old-password">
                </div>
                <div class="form-group">
                    <label for="new-password">New Password</label>
                    <input class="form-control" placeholder="Enter new password" type="password" name="new-password" id="new-password">
                    <input class="form-control" type="password" placeholder="Repeat new password" name="repeat-password" id="repeat-password">
                </div>
                {{#if message}}
                    <div class="{{messageClass}}" id="change-password-message">
                        <p>{{message}}</p>
                    </div>
                {{/if}}
                <input class="btn btn-outline-primary" type="submit" value="Change Password">
            </form>
        </div>
    </section>
    <section class="row">
        <button class="btn btn-danger" id="logout-button" onclick="return logout(event);">Log out</button>
    <section>
</div>