<div class="container" id="profile">
    <nav class="mb-5">
        <ul class="nav justify-content-center nav-tabs">
            <li class="nav-item"><a class="nav-link" id="home-menu" href="#" onclick="return activateTab(this);">Home</a></li>
            <li class="nav-item"><a class="active nav-link" id="browse-menu" href="#" onclick="return activateTab(this);">Browse</a></li>
            <li class="nav-item"><a class="nav-link" id="account-menu" href="#" onclick="return activateTab(this);">Account</a></li>
            <li class="nav-item"><a class="nav-link" id="data-menu" href="#" onclick="return activateTab(this);">Data</a></li>
        </ul>
    </nav>
    <section id="friend-search" class="row">
        <form action="#" novalidate onsubmit="return findFriend(event);" class="form-inline col-12 justify-content-center">
            <label for="friend-search-email" class="mr-2">Find a friend</label>
            <input class="form-control mr-2" type="email" id="friend-search-email" placeholder="Enter a email">
            {{#if searchMessage}}
                <span class="{{searchMessageClass}} rounded mr-2 p-2">{{searchMessage}}</span>
            {{/if}}
            <input class="btn btn-outline-primary" type="submit" value="Search">
        </form>
    </section>
    {{#if friend}}
        <section id="friend-page" class="row mt-2">
            <div class="col-sm-4">
                <h3 id="user-name">{{ name }}</h3>
                <div class="mb-2">
                    <span class="personal-info gender">{{ gender }}</span><br>
                    <span class="personal-info email" id="friend-email">{{ email }}</span><br>
                    <span class="personal-info city">{{ city }}</span><br>
                    <span class="personal-info country">{{ country }}</span><br>
                    <button type="button" class="btn btn-outline-info" id="update-wall-button" onclick="return renderFriendPosts();">Update wall</button>
                </div>
            </div>
            <div class="col-8">
                <form action="#" class="form-group" onsubmit="return browsePost(event);">
                    <textarea ondrop="drop(event)" ondragover="allowDrop(event)" id="friend-post-text" class="form-control" placeholder="What do you want to say to {{name}}?"></textarea><br>
                    <input class="btn btn-outline-success" type="submit" value="Post">
                </form>
                 {{#if postMessage}}
                     <span class="rounded {{postMessageClass}} mr-2 p-2">{{postMessage}}</span>
                {{/if}}
            </div>
        </section>
        <section id="posts" class="row container-fluid mt-5"></section>
    {{/if}}
</div>
