<div class="container" id="profile">
    <nav class="mb-5">
        <ul class="nav justify-content-center nav-tabs">
            <li class="nav-item"><a class="nav-link" id="home-menu" href="#" onclick="return activateTab(this);">Home</a></li>
            <li class="nav-item"><a class="nav-link" id="browse-menu" href="#" onclick="return activateTab(this);">Browse</a></li>
            <li class="nav-item"><a class=" nav-link" id="account-menu" href="#" onclick="return activateTab(this);">Account</a></li>
            <li class="nav-item"><a class="active nav-link" id="data-menu" href="#" onclick="return activateTab(this);">Data</a></li>
        </ul>
    </nav>
    <section class="row">
        <h3 class="title mb-4">Twidder has a total of {{registeredUsers}} registered users.</h3>
        <canvas id="users-chart" class="col-12"></canvas>
        <h3 class="title mb-4 mt-4">Twidder has a total of {{totalPostCount}} posts.</h3>
        <canvas id="post-chart" class="col-12"></canvas>
    </section>
</div>