<div class="container" id="profile">
    <nav class="mb-5">
        <ul class="nav justify-content-center nav-tabs">
            <li class="nav-item"><a class="active nav-link" id="home-menu" href="#" onclick="return activateTab(this);">Home</a></li>
            <li class="nav-item"><a class="nav-link" id="browse-menu" href="#" onclick="return activateTab(this);">Browse</a></li>
            <li class="nav-item"><a class="nav-link" id="account-menu" href="#" onclick="return activateTab(this);">Account</a></li>
            <li class="nav-item"><a class="nav-link" id="data-menu" href="#" onclick="return activateTab(this);">Data</a></li>
        </ul>
    </nav>
    <section class="row">
        <div class="col-sm-4">
            <h3 id="user-name">{{ name }}</h3>
            <div class="mb-2">
                <span class="personal-info gender">{{ gender }}</span><br>
                <span class="personal-info email">{{ email }}</span><br>
                <span class="personal-info city">{{ city }}</span><br>
                <span class="personal-info country">{{ country }}</span><br>
            </div>
            <button type="button" id="update-wall-button" class="btn btn-outline-info" onclick="return renderUserPosts();">Update wall</button>
        </div>
        <div class="col-8" id="post-box">
            <h4>Post a message</h4>
            <form class="form-group" action="#" novalidate onsubmit="return homePost(event);">
                <div class="form-group">
                    <label for="post-to-email">Who do you want to message?</label>
                    <input class="form-control" placeholder="Enter email" type="email" id="post-to-email">
                </div>
                <textarea ondrop="drop(event)" ondragover="allowDrop(event)" class="form-control" id="post-text" placeholder="What do you want to say...?"></textarea><br>
                {{#if postMessage}}
                    <span class="rounded {{postMessageClass}} mr-2 p-2">{{postMessage}}</span>
                {{/if}}
                <input class="btn btn-outline-success" type="submit" value="Post">
            </form>
        </div>
    </section>
    <section class="row container-fluid mt-5" id="posts"></section>
</div>