<div class="container" id="welcome">
    <div class="row">
        <div class="col-md">
            <img src="static/images/wimage.png" id="logo">
        </div>
        <div class="col-md" id="sign-in-up-form">
        <h4>Sign in</h4>
        <form id="sign-in" class="form-group" action="#" novalidate onsubmit="return signIn(event);">
            <div class="form-group">
                <label for="sign-in-email">Email</label>
                <input type="email" class="form-control" placeholder="Enter email" name="sign-in-email" id="sign-in-email">
            </div>
            <div class="form-group">
                <label for="sign-in-password">Password</label>
                <input type="password" class="form-control" placeholder="Enter password" name="sign-in-password" id="sign-in-password">
            </div>
            {{#if signInError}}
                <div class="alert-danger rounded p-2" id="sign-in-error"><p class="mb-0">{{ signInError}}</p></div>
            {{/if}}
            <input class="btn btn-outline-primary" type="submit" value="Sign in">
        </form>
        <form id="sign-up" class="form-group" action="#" novalidate onsubmit="return signUp(event);">
            <h4>Sign up</h4>
            <div class="form-group">
                <label for="sign-up-email">Email</label>
                <input class="form-control-sm form-control" type="email" placeholder="Enter email" name="sign-up-email" id="sign-up-email" value="{{signUpData.email}}">
            </div>
            <div class="form-group">
                <label for="sign-up-password">Password</label>
                <input class="form-control-sm form-control" type="password" placeholder="Enter Password" name="sign-up-password" id="sign-up-password">
                <input class="form-control-sm form-control" type="password" placeholder="Repeat password" name="repeat-password" id="repeat-password">
            </div>
            <div class="form-group">
                <label for="first-name">First name</label>
                <input class="form-control-sm form-control" type="text" placeholder="Enter first name" name="first-name" id="first-name" value="{{signUpData.first_name}}">
            </div>
            <div class="form-group">
                <label for="family-name">Family name</label>
                <input class="form-control-sm form-control" type="text" name="family-name" placeholder="Enter family name" id="family-name" value="{{signUpData.family_name}}">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select name="gender" id="gender" class="form-control-sm form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Other">Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control form-control-sm" name="city" id="city" placeholder="Enter city" value="{{signUpData.city}}">
            </div>
            <div class="form-group">
                <label for="country">Country</label>
                <input type="text" class="form-control form-control-sm" placeholder="Enter country" name="country" id="country" value="{{signUpData.country}}">
            </div>
            {{#if signUpError}}
                <div class="alert-danger rounded p-2" id="signup-error"><p class="mb-0">{{ signUpError }}</p></div>
            {{/if}}
            <input type="submit" class="btn btn-outline-primary" value="Sign up">
        </form>
    </div>
    </div>
</div>